$main-font: "Roboto Condensed", sans-serif;
$color-dark: rgb(56, 56, 56);
$color-light: rgb(250, 250, 250);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $main-font;
  // color: $color-dark;
}
.background{
    background-image: url("../../../../public/Images/cup.png");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15rem;
 
    & h2 {
        color:white; 
        font-size: 3rem;
        text-shadow: 5px 5px #6F4E37;
        text-align: center;
        padding-top: 5rem;
        margin-bottom: -3rem;
    }
}
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 60%;
    margin: 0 auto;
    padding-top: 10rem;
    padding-bottom: 2rem;
    // background-color:#6F4E37;
    // backdrop-filter: blur(5px);
    
    // backdrop-filter: blur(10px);
  
 
  @media (max-width:500px) {
        width: 100%;
        gap: 0;
        display: flex;
        flex-direction: column;
    }

  &__category{
    font-size: larger;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    // align-items:center;
    margin-left: 10vh;
     
    
    & h3 {
    text-shadow: 5px 5px #6F4E37;
    }
    
    
    @media (max-width:500px) {
      margin-top: 1rem;
      margin-left: 0;
      align-items:center;
    }
    & p{
       letter-spacing: 1px;
       
       -webkit-text-stroke: 0.3px #6F4E37;
    }

    &-item{
        display: flex;
        justify-content: space-between;
    }
  }
}
